@import "../../../scss/index.scss";

.menu-top {
  display: flex;

  button {
    color: $font-light;

    &:hover {
      color: $font-grey !important;
    }
    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left {
    &-logo {
      width: 20%;
      height: 80%;
      padding: 0 10px;
      border-radius: 50%;
    }
    button {
      margin: 2% 0 0 0;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}
